.title {
  font-size: 35px;
  text-align: center;
}

.paragraph {
  font-size: 16px;
  text-align: center;
}

.paragraph_left {
  font-size: 16px;
  text-align: left;
  float: left;
}

.paragraph_right {
  font-size: 16px;
  text-align: right;
  float: right;
}

.page {
  width: 1000px;
  margin: auto;
  padding: 70px;
  padding-top: 30px;
}

.big_viz{
  width: 100%;
}